.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .overlap-wrapper {
    background-color: #ffffff;
    width: 1336px;
    height: 768px;
  }
  
  .frame .overlap {
    position: relative;
    height: 768px;
    background-image: url(image\ 1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 999px;
    height: 686px;
    top: 38px;
    left: 173px;
  }
  
  .frame .buttons {
    position: absolute;
    width: 99px;
    height: 99px;
    top: 327px;
    left: 426px;
  }
  
  .frame .decrypt {
    width: 101px;
    height: 99px;
  }
  
  .frame .overlap-group {
    position: relative;
    width: 99px;
    height: 99px;
    background-color: #0000004c;
    border-radius: 9px;
    box-shadow: 0px 1px 6px #0000001a;
  }
  
  .frame .text-wrapper {
    position: absolute;
    width: 66px;
    top: 6px;
    left: 24px;
    text-shadow: 0px 0px 6px #00000066;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .decrypt-wrapper {
    left: 233px;
    position: absolute;
    width: 99px;
    height: 99px;
    top: 327px;
  }
  
  .frame .overlap-group-wrapper {
    position: absolute;
    width: 101px;
    height: 99px;
    top: 327px;
    left: 816px;
  }
  
  .frame .div {
    position: absolute;
    width: 66px;
    top: 6px;
    left: 19px;
    text-shadow: 0px 0px 6px #00000066;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .div-wrapper {
    left: 1020px;
    position: absolute;
    width: 99px;
    height: 99px;
    top: 327px;
  }
  
  .frame .text-wrapper-2 {
    left: 23px;
    position: absolute;
    width: 66px;
    top: 6px;
    text-shadow: 0px 0px 6px #00000066;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .buttons-2 {
    left: 623px;
    position: absolute;
    width: 99px;
    height: 99px;
    top: 327px;
  }
  