.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .overlap-wrapper {
    background-color: #ffffff;
    width: 1336px;
    height: 768px;
  }
  
  .frame .overlap {
    position: relative;
    height: 768px;
    background-image: url(image\ 1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 1257px;
    height: 686px;
    top: 38px;
    left: 45px;
  }
  
  .frame .buttons {
    position: absolute;
    width: 99px;
    height: 99px;
    top: 327px;
    left: 401px;
  }
  
  .frame .decrypt {
    width: 101px;
    height: 99px;
  }
  
  .frame .overlap-group {
    position: relative;
    width: 99px;
    height: 99px;
    background-color: #0000004c;
    border-radius: 9px;
    box-shadow: 0px 1px 6px #0000001a;
  }
  
  .frame .text-wrapper {
    top: 5px;
    left: 25px;
    position: absolute;
    width: 66px;
    text-shadow: 0px 0px 6px #00000066;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .decrypt-wrapper {
    left: 113px;
    position: absolute;
    width: 99px;
    height: 99px;
    top: 327px;
  }
  
  .frame .div {
    top: 5px;
    left: 27px;
    position: absolute;
    width: 66px;
    text-shadow: 0px 0px 6px #00000066;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .div-wrapper {
    left: 257px;
    position: absolute;
    width: 99px;
    height: 99px;
    top: 327px;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    width: 66px;
    top: 5px;
    left: 26px;
    text-shadow: 0px 0px 6px #00000066;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .overlap-group-wrapper {
    left: 685px;
    position: absolute;
    width: 101px;
    height: 99px;
    top: 327px;
  }
  
  .frame .buttons-2 {
    left: 829px;
    position: absolute;
    width: 99px;
    height: 99px;
    top: 327px;
  }
  
  .frame .text-wrapper-3 {
    top: 5px;
    left: 28px;
    position: absolute;
    width: 66px;
    text-shadow: 0px 0px 6px #00000066;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .decrypt-2 {
    left: 969px;
    position: absolute;
    width: 101px;
    height: 99px;
    top: 327px;
  }
  
  .frame .buttons-3 {
    left: 1109px;
    position: absolute;
    width: 99px;
    height: 99px;
    top: 327px;
  }
  
  .frame .buttons-4 {
    left: 541px;
    position: absolute;
    width: 99px;
    height: 99px;
    top: 327px;
  }
  
  .frame .text-wrapper-4 {
    top: 6px;
    left: 24px;
    position: absolute;
    width: 66px;
    text-shadow: 0px 0px 6px #00000066;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }